# IDE
.idea/
.vscode/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db
desktop.ini

# Node (если используется)
node_modules/
package-lock.json
yarn.lock

# Logs
*.log
npm-debug.log*

# Environment
.env
.env.local

# Build
dist/
build/
/my-links.iml
/TASK.md
